---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
   <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
      <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
      <!--<a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>-->
   </nav>
</header>
<main class="content" role="main">
   <article class="post">
      <header class="post-header">
         <h1 class="post-title">{{ page.title }}</h1>
         <section class="post-meta">
            <time class="post-date" datetime="{{ page.date | date:" %Y-%m-%d " }}">{{ page.date | date_to_string }}</time> {% if page.categories.size > 0 %} {{ page.categories | array_to_sentence_string | prepend: 'on ' }} {% endif %}
         </section>
      </header>
      <!--<header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->
        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->
        <!-- <h1 class="post-title">{{ page.title }}</h1> -->
         <section class="post-content">
            {{content}}
         </section>
            {% if page.archive %}
         <section class="archive">
            <h5>Archive</h5>
               <ul>
                  {% for post in site.posts %}
                  <li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
               </ul>
         </section>
            {% endif %}
      <footer class="post-footer">
         <!-- If we want to display author's name and bio -->
         {% if site.author %}
         <figure class="author-image">
            <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/cos-logo.png)">
            <span class="hidden">{{site.author}}'s Picture</span></a>
         </figure>
               <section class="author">
                  <!-- Author Name -->
                  <h4> {{ site.author }} </h4>
                  <!-- Author Bio -->
                  <p>Creating Seamless User Interactions is What I Love.</p>
               </section>
               {% endif %}
               <!-- Share links section -->
               {% include share.html %}
               <!-- Disqus comments -->
               {% if page.disqus %} {% include disqus.html %} {% endif %}
         </footer>
   </article>
</main>
